<h1>Tareas</h1>

<div class="container">
    <div class="row offset-1">
        <div class="card" style="width: 18rem; margin: 3px;"  *ngFor="let tarea of tareas">
            <div class="card-body">
              <h4 class="card-title" id="color">{{tarea.nombre}}</h4>
              <p class="card-text"><strong>Descripcion: </strong><br>
                {{tarea.descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Estado: </strong>{{tarea.estado}}</li>
              <li class="list-group-item"><strong>Urgencia: </strong>{{tarea.urgenciaString}}</li>
              <li class="list-group-item"><strong>Vencimiento: </strong>{{tarea.fechaVencimiento}}</li>
            </ul>
            <div class="card-body centrar">
              <div class="row">
                <div class="col-6">
                  <a id="link1" [routerLink]="['editTasks/', tarea._id]" class="card-link"><i class="fa-solid fa-file-pen"></i></a>
                </div>
                <div class="col-6">
                  <a id="link2" (click)=" open(content, tarea._id)" class="card-link"><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <div class="alert alert-primary" role="alert">
      <p>
        ¿Esta seguro que desea eliminar esta tarea?
      </p><br>
      <button type="button" class="btn btn-danger" (click)="deleteT()">Eliminar</button>
    </div>
  </div>
</ng-template>
