<nav class="navbar navbar-expand-lg navbar-light bg">
    <div class="container-fluid">
      <img class="navbar-brand" src="../assets/img/icononavbar.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-secondary buttons" type="button" routerLink="Inicio">Inicio</button>
          <button class="btn btn-outline-secondary buttons" type="button" routerLink="formLista">Nueva Lista</button>
          
          <li class="dropdown btn btn-outline-secondary buttons">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filtrar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </form>
      
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
