<div class="container border border-info border-5 rounded-2">
  <div class="row">
    <div class="col-4 offset-4">
      <h3 class="text-center header">Crear Nueva Tarea +</h3>
      <div class="col-2">
        <label for="">ID</label>
        <input type="hidden" class="form-Control" [(ngModel)]="task._id">
    </div>
      <h5 class="mb-1">Nombre de tarea</h5>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="task.nombre"
      />

      <h5 class="mb-1">Descripcion de la tarea</h5>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="task.descripcion"
      />
      <div class="my-3">
        <h5 class="mb-1">Urgencia</h5>
        <div class="form-check">
          <input
            id="normal"
            name="Urgencia"
            value="normal"
            type="radio"
            class="form-check-input"
            [(ngModel)]="task.urgenciaString"
          />
          <label class="form-check-label" for="normal">Normal</label>
        </div>
        <div class="form-check">
          <input
            id="urgente"
            name="Urgencia"
            value="urgente"
            type="radio"
            class="form-check-input"
            [(ngModel)]="task.urgenciaString"
          />
          <label class="form-check-label" for="urgente">Urgente</label>
        </div>
      </div>

      <div class="my-3">
        <h5 class="mb-1">Estado</h5>
        <div class="form-check">
          <input
            id="pendiente"
            name="Estado"
            type="radio"
            class="form-check-input"
            value="pendiente"
            [(ngModel)]="task.estado"
          />
          <label class="form-check-label" for="pendiente">Pendiente </label>
        </div>
        <div class="form-check">
          <input
            id="en proceso"
            name="Estado"
            type="radio"
            class="form-check-input"
            value="en proceso"
            [(ngModel)]="task.estado"
          />
          <label class="form-check-label" for="en proceso">En Proceso</label>
        </div>
        <div class="form-check">
          <input
            id="terminada"
            name="Estado"
            type="radio"
            class="form-check-input"
            value="terminada"
            [(ngModel)]="task.estado"
          />
          <label class="form-check-label" for="terminada">Terminada</label>
        </div>
      </div>

      <h5 class="mb-1">Fecha de Vencimiento</h5>
      <input
        type="date"
        class="form-control"
        id="Nombre"
        placeholder="Añada Fecha"
        value=""
        [(ngModel)]="task.fechaVencimiento"
      />

      <br />

      <h5 class="mb-1">Responsable</h5>
      <input
        type="text"
        class="form-control"
        placeholder="Añada Nombre de Persona Responsable"
        [(ngModel)]="datosContacto.responsable.nombreResponsable"
      />
      <input
        type="text"
        class="form-control"
        placeholder="Añada Rol de Persona Responsable"
        [(ngModel)]="datosContacto.responsable.rolResponsable"
      />
      <br />

      <h5 class="mb-1">Datos de Contacto</h5>
      <div class="text-center">
        <input
          type="text"
          class="form-control"
          id="Nombre"
          placeholder="Tipo de Contacto"
          [(ngModel)]="datosContacto.tipoContacto"
        />
        <input
          type="text"
          class="form-control"
          id="Rol"
          placeholder="Correo Electronico"
          [(ngModel)]="datosContacto.correo"
        />
        <input
          type="text"
          class="form-control"
          id="Rol"
          placeholder="Teléfono"
          value=""
          [(ngModel)]="datosContacto.telefono"
        />
        <input
          type="text"
          class="form-control"
          id="Rol"
          placeholder="Dirección"
          value=""
          [(ngModel)]="datosContacto.direccion"
        />

        <div>
          <h5 class="mb-1">Seleccione la lista para agregar la tarea</h5>

          <select class="form-select" [(ngModel)]="task.Lista.categoriaLista">
            <option *ngFor="let l of listas" value="{{ l.categoriaLista }}">
              {{ l.nombre }}
            </option>
          </select>
        </div>

        <br /><button type="submit" class="btn separar" (click)="updateTask()">
          Guardar
        </button>
        <button class="btn separar" routerLink="/tasks">Cancelar</button>
      </div>
    </div>
  </div>
</div>
