.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

button{
    background-color: #36A0FF;
} 
.border{
    padding: 1%;
}

.alertColor{
    background-color:grey;
    color: white;
}
.separar{
    margin: 3%;
}