<div class="container border border-info border-5 rounded-2">
  <div class="row">
    <div class="col">
    </div> 

    <div class="col-8">
      <div class="well well-sm">
        <form method="post">
          <div class="col-sm-6">
            <h3 class="text-center header">Crear Nueva Tarea +</h3>
              <h5 class="mb-1">Nombre de tarea</h5>
              <input type="text" class="form-control" id="firstName" required>
            </div> 

            <div class="my-3">
                <h5 class="mb-1">Urgencia</h5>
                <div class="form-check">
                  <input id="credit" name="Urgencia" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">Normal</label>
                </div>
                <div class="form-check">
                  <input id="debit" name="Urgencia" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="debit">Urgente</label>
                </div>
              </div>

              <div class="my-3">
                <h5 class="mb-1">Estado</h5>
                <div class="form-check">
                  <input id="credit" name="Estado" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">Pendiente </label>
                </div>
                <div class="form-check">
                  <input id="debit" name="Estado" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="debit">En Proceso</label>
                </div>
                <div class="form-check">
                  <input id="paypal" name="Estado" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="paypal">Terminada</label>
                </div>
              </div>
            
              <div class="col-sm-6">
                <h5 class="mb-1">Fecha de Vencimiento </h5>
                <input type="date" class="form-control" id="Nombre" placeholder="Añada Fecha" value="" required>
              </div><br>

              <div class="col-sm-6">
                <h5 class="mb-1">Responsable </h5>
                <input type="text" class="form-control" placeholder="Añada Nombre de Persona Responsable" required>
                <input type="text" class="form-control" placeholder="Añada Rol de Persona Responsable" required>
              </div><br>

              <h5 class="mb-1"> Datos de Contacto</h5>
              <div class="col-sm-6 text-center">
                <input type="text" class="form-control" id="Nombre" placeholder="Tipo de Contacto" value="" required>
                <input type="text" class="form-control" id="Rol" placeholder="Correo Electronico" value="" required>
                <input type="text" class="form-control" id="Rol" placeholder="Teléfono" value="" required>
                <input type="text" class="form-control" id="Rol" placeholder="Dirección" value="" required>
                <br><button type="submit" class="btn btn-lg">Crear</button>
                <button class="btn btn-lg" routerLink="/formLista">Cancelar</button>
              </div>
              <!-- <div class="col">
              </div> -->
        </form>
      </div>
    </div>
  </div>