<div class="container border border-info border-5 rounded-2">
  <div class="row">
    <div class="col-4 offset-4">
      <form [formGroup]="formTasks" (submit)="addTask()">
          <h3 class="text-center header">Crear Nueva Tarea +</h3>
          <h5 class="mb-1">Nombre de tarea</h5>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="nombre"
            #nombre
          />

          <div
            *ngIf="
              formTasks.get('nombre')?.hasError('required') &&
              formTasks.get('nombre')?.touched
            "
            class="alert alertColor"
          >
            <strong> Debe de ingresar un nombre para la tarea </strong>
          </div>

          <h5 class="mb-1">Descripcion de la tarea</h5>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="descripcion"
            #descripcion
          />

          <div
          *ngIf="
            formTasks.get('descripcion')?.hasError('required') &&
            formTasks.get('descripcion')?.touched
          "
          class="alert alertColor"
        >

        <div class="my-3">
          <h5 class="mb-1">Urgencia</h5>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              formControlName="urgencia"
              value="normal"
              #urgencia
            />
            <label class="form-check-label" for="credit">Normal</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              formControlName="urgencia"
              value="urgente"
              #urgencia
            />
            <label class="form-check-label" for="debit">Urgente</label>
          </div>
        </div>

        <div>{{urgencia.value}}</div>

        <div class="my-3">
          <h5 class="mb-1">Estado</h5>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              formControlName="estados"
              #estado
            />
            <label class="form-check-label" for="credit">Pendiente </label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              formControlName="estados"
              #estado
            />
            <label class="form-check-label" for="debit">En Proceso</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              formControlName="estados"
              #estado
            />
            <label class="form-check-label" for="paypal">Terminada</label>
          </div>
        </div>
        <div>{{estado.value}}</div>
          <h5 class="mb-1">Fecha de Vencimiento</h5>
          <input
            type="date"
            class="form-control"
            id="Nombre"
            placeholder="Añada Fecha"
            value=""
            formControlName="fechaVencimiento"
            #fechaVencimiento
          />

        <br />

          <h5 class="mb-1">Responsable</h5>
          <input
            type="text"
            class="form-control"
            placeholder="Añada Nombre de Persona Responsable"
            formControlName="datosContacto"
            #datosContacto
          />
          <input
            type="text"
            class="form-control"
            placeholder="Añada Rol de Persona Responsable"
            formControlName="datosContacto"
            #datosContacto
          />

          <div
            *ngIf="
              formTasks.get('datosContacto')?.hasError('required') &&
              formTasks.get('datosContacto')?.touched
            "
            class="alert alertColor"
          >
            <strong> Debe de ingresar los datos del responsable </strong>
          </div>

        <br />

        <h5 class="mb-1">Datos de Contacto</h5>
        <div class="text-center">
          <input
            type="text"
            class="form-control"
            id="Nombre"
            placeholder="Tipo de Contacto"
            formControlName="datosContacto"
            #datosContacto
          />
          <input
            type="text"
            class="form-control"
            id="Rol"
            placeholder="Correo Electronico"
            formControlName="datosContacto"
            #datosContacto
          />
          <input
            type="text"
            class="form-control"
            id="Rol"
            placeholder="Teléfono"
            value=""
            formControlName="datosContacto"
            #datosContacto
          />
          <input
            type="text"
            class="form-control"
            id="Rol"
            placeholder="Dirección"
            value=""
            formControlName="datosContacto"
            #datosContacto
          />

          <div
            *ngIf="
              formTasks.get('datosContacto')?.hasError('required') &&
              formTasks.get('datosContacto')?.touched
            "
            class="alert alertColor"
          >
            <strong> Debe de ingresar los datos del contacto </strong>
          </div>

          <div>
            <h5 class="mb-1">Seleccione la lista para agregar la tarea</h5>

            <select class="form-select">
              <option *ngFor="let l of lists">{{l.nombre}}</option>
            </select>
            
          </div>
          
          <br/><button type="submit" class="btn btn-lg">Crear</button>
          <button class="btn btn-lg" routerLink="/formLista">Cancelar</button>
        </div>
    </form>
  </div>
</div>
  


  <!-- <div *ngIf="formTasks.get('urgencia')?.hasError('required')&&formTasks.get('urgencia')?.touched" class="alert alertColor">
    <strong>
      Debe de seleccionar la urgencia
    </strong>
  </div> -->
  <!-- <div *ngIf="formTasks.get('estado')?.hasError('required')&&formTasks.get('estado')?.touched" class="alert alertColor">
    <strong>
      Debe de seleccionar la estado
    </strong>
  </div> -->